.Button{
  border: none;
  background-color: green;
  cursor: pointer;
  padding: 1em;
}
.Button::after{ /*Fix and hover effect. The content is not seen better fix that.*/
  content: "➡️";
  position: absolute;
  right: 5px;
  bottom: 6px;
  font-size: 1.125rem;
   transition: transform 0.3s ease;
  
}
/*add the font size and font family also add colors man this is kinda ugly its too boring center it to*/

input::placeholder{
  position: absolute;
  text-align: center;
  color: red;
}
